{% extends 'base_portfolio.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block head_title %}
  Feedback Form
{% endblock head_title %}
{% block content%}
{% include 'includes/portfolio_navbar.html' %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 60px;">
      <form role="form" method="POST" enctype="multipart/form-data" action="">
        <legend style="color: white;">Feedback Form</legend>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
          <a href="javascript:history.back();">
            <button type="button" class="btn btn-default">Back</button>
          </a>
          <button type="submit" class="btn btn-success">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content%}