<!DOCTYPE html>
{% load staticfiles %}
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-US"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->
    <title>{% block head_title %}Home{% endblock head_title %}</title>
    {% block extra_style %}
      {% include 'includes/head_css.html' %}
    {% endblock extra_style %}

  </head>
  <!--data-image_one_text={{slider_images.image_one_text}}-->
  <body data-image_one={{slider_images.image_one.url}}
        data-image_two={{slider_images.image_two.url}}
        data-image_three={{slider_images.image_three.url}}
        data-image_four={{slider_images.image_four.url}}>
      {% block content %}
      {% endblock content %}
      {% block extra_js %}
        {% include "includes/javascript.html" %}
      {% endblock extra_js %}
  </body>
</html>